#profile-card {
    background: $Primary;
    text-align: center;
}

#profile-card .container {
    min-height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description-card {
    background: $GreyBackground;
    text-align: center;
}

#description-card .container {
    min-height: 52vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding: 2em;
}

.flex-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#age {
    margin-top: 0;
}

#location {
    margin-top: 0;
    margin-bottom: 1em;
}

#description-card img {
    height: 64px;
}

#description-card h3 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

@media (min-width: 1200px) {
    #description-card h3 {
        width: 50vh;
        margin-left: auto;
        margin-right: auto;
    }
}